.verticalLetters,
.verticalLettersRight {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 60px;
  /* Adjust as needed */
}

.verticalLettersRight {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Added this line */
  text-align: center;
}

.mainContent {
  font-size: 34px;
  /* Adjust as needed */
  margin: 0 20px;
  /* Adjust as needed */
}