.verticalLetters,
.verticalLettersRight {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 60px;
  /* Adjust as needed */
  font-family: "Inter";
}

.verticalLettersRight {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Added this line */
  text-align: center;
}

.mainContent {
  font-size: 34px;
  font-weight: 500;
  /* Adjust as needed */
  margin: 0 20px;
  /* Adjust as needed */
}


@media only screen and (max-width: 987px) {
  .mainContent {
    font-size: 20px;
  }

  .verticalLetters {
    font-size: 45px;
  }

  .verticalLettersRight {
    font-size: 45px;
  }
}


@media only screen and (max-width: 987px) {
  .mainContent {
    font-size: 25px;
  }

}

@media only screen and (max-width: 500px) {
  .mainContent {
    font-size: 15px;
  }

}