.verticalLetters {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.verticalLetters span {
  display: inline-block;
  margin-right: 5px;
  /* Adds some space between the letters (adjust as desired) */
}

.verticalLetters span {
  display: inline-block;
  margin-right: 5px;
  /* Adds some space between the letters (adjust as desired) */
}

.verticalLettersRight {
  writing-mode: vertical-rl;
  text-orientation: upright;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.verticalLettersRight span {
  display: inline-block;
  margin-right: 5px;
  /* Adds some space between the letters (adjust as desired) */
}

.verticalLettersRight span {
  display: inline-block;
  margin-right: 5px;
  /* Adds some space between the letters (adjust as desired) */

}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.mainContent {
  padding-top: 40px
}