@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


.ideas {
  font-size: 60px;
  padding-left: 80px;
}

.wanna {
  font-size: 60px;
  text-align: right;
  display: flex;
}

.contact {
  font-size: 150px;
  font-family: "Inter";
  font-size: "110px";
  color: transparent;
  font-weight: 900;
  -webkit-text-fill-color: "transparent";
  -webkit-text-stroke: 1px rgb(173, 0, 255);
  display: inline;
  position: relative;
  top: 75px;
}

.ideas {
  padding-left: 14%;
}

.ideas span {
  color: #8F00FF;
}

.ideas .flechas span {
  font-size: 60px;
  color: #8F00FF;
  text-decoration: none;
}

.ideasWord {
  text-decoration: underline;
}

.contactList {
  color: #8F00FF;
  font-size: 50px;
  text-align: right;
  text-decoration: underline;
  position: relative;
  right: 20%;
  top: 27px;
  font-weight: 800;
}

.line {
  border: 1px solid #8F00FF;
  width: 600px;
  height: 10px;
  margin: 0 auto;
}


/* */

.wannaContainer {
  text-align: right;
  /* This will align the text and the image to the right */
  float: left;
  /* This will keep the container to the left */
}

.wanna {
  display: inline-block;
  font-family: "Inter";
  font-weight: 200;
  font-size: 40px;
  /* This is necessary to keep the image and the text inline */
}

.line {
  display: inline-block;
  height: 5px;

  /* This is necessary to keep the image and the text inline */
  /* The rest of your styles for the line image */
}