.separator {
  border-color: #CABDD1;
  border-top-width: 2px;
}

.footerContainer {
  padding-top: 80px;
  text-align: center;
  font-family: "Inter";
  font-weight: 200;
}

.footerContainer div {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footerContainer span {
  color: #6F00A4;
  font-weight: 600;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  14% {
    color: orange;
  }

  28% {
    color: yellow;
  }

  42% {
    color: lime;
  }

  57% {
    color: cyan;
  }

  71% {
    color: blue;
  }

  85% {
    color: purple;
  }

  100% {
    color: red;
  }
}

.rainbow {
  animation: rainbow 4s linear infinite;
}

@media only screen and (max-width: 500px) {
  .words {
    padding-top: 0px;
    font-size: 14px;
  }
}