@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    width: 100%;
    position: relative;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

.title h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.title h2 {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.center {}

.motto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    position: relative;
    font-size: 10vh;
}

.design,
.love {
    position: relative;
}

.design {
    padding-left: 20px;
    left: 0;
}

.whatyou {
    padding-top: 105px;
    padding-left: 50px;
}

.love {
    padding-top: 150px;
    padding-right: 100px;
    right: 0;
    top: 20px;
}

.line {
    width: 100%;
}

.line img {
    display: block;
    width: 100%;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
}

.socialMedia ul {
    list-style-type: none;
    padding: 0;
}

.socialMedia ul li {
    margin-bottom: 40px;
}

@media only screen and (max-width: 688px) {
    .title h1 {
        font-size: 25px;
    }

    .title h2 {
        font-size: 20px;
    }

    .motto {
        font-size: 7vh;
    }

    .socialMedia ul li {
        margin-bottom: 20px;
        width: 80%;
        height: 80%;
    }

    /* Add your icon resizing code here, assuming you have a .icon class for your icons */
    .icon {
        /* You'll need to define what 'smaller' means for your icons. 
           Here's an example that makes them 50% of the original size. */
        transform: scale(0.5);
    }
}