/* Loading.module.css */

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    99% {
        opacity: 0;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    animation: fadeOut 1s ease-out forwards;
}


.fade-in {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in;
}

/* Styles for the loader container */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Use min-height instead of height */
    position: fixed;
    /* Use fixed positioning */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
}

/* Styles for the background element */
.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0;
    transition: opacity 5s ease-in;
}

/* Background Fade-out and Fade-in animations */
.bg-fade-out {
    opacity: 0;
    transition: opacity 1s ease-out 1s;
}

.bg-fade-in {
    opacity: 1;
    transition: opacity 1s ease-in;
}


/* Styles for the loader */
.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    color: rgb(143, 0, 255);
    letter-spacing: 0.2em;
    z-index: 5;
}

.loader::before,
.loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: rgb(143, 0, 255);
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
}

.loader::before {
    top: 0;
}

.loader::after {
    bottom: 0;
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}