.cute {
  background: linear-gradient(to right, #AB47E9, #eabdff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrap {
  font-size: 100px;
}

@media only screen and (max-width: 688px) {
  .wrap {
    font-size: 25px;
  }


}